
h1{
    font-family: 'Pokemon Solid', sans-serif;
    color: #FFCB05;
}

h2#welcome, h2#pokedexTitle, h2#mypokedexTitle {
    color: #3466AF;
}

ul.navbar-nav > li.nav-item {
    margin-left: 1rem;
    margin-right: 1rem;
}


/* mappa a schermo intero */
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}